.footer{
  &__logo-box{
    margin-bottom: 5rem;
  }
  &__logo{
    height: 10rem;
    width: auto;
  }
  &__navigation{
  }
  &__list{
    display: inline-block;
    list-style: none;
    border-top: 2px solid $color-gray-dark;

  }
  &__item{


    margin-top: 1rem;
    float: left;

    &:not(:last-child){
      margin-right: 2rem;
    }



  }
  &__link{
    font-size: 1.6rem;
    text-decoration:none;
    color: $color-white;

  }
  &__copyright{
    border-top: 2px solid $color-gray-dark;


    p{
      margin-top: 1rem;

      font-size: 1.6rem;
      color: $color-white;
    }

  }

}