.popup {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);

  opacity: 0;
  visibility: hidden;

  &:target{
    opacity: 1;
    visibility: visible;
  }

  &:target &__content{
    transform:translate(-50%, -50%) scale(1);

    //transform: scale(1);

  }


  &__content {
    @include absCenter;

    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    background-color: $color-white;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform:translate(-50%, -50%) scale(0.2);
    transition: all 0.4s;

  }

  &__left{
    width: 30%;
    display: table-cell;
  }
  &__right{
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

  }
  &__img{

    display: block;
    width: 100%;
  }
  &__text{
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-gray-light-2;

    hyphens: auto;
  }

  &__close{
    &:link,
    &:visited{
      color: $color-gray-dark;
      position: absolute;
      top: 2rem;
      right: 2rem;
      text-decoration: none;
      font-size: 3rem;
      line-height: 1;
    }


    &:hover{
      color: $color-primary;
    }
  }
}