
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-align: center;
  }

  &--sub {
    display: block;
    letter-spacing: 1.7rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;

  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all 0.5s;

  &:hover {
    transform: skewY(-0.5deg);
  }

}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem
  }
}

.btn-text{
  padding:3px;

  &:link,
  &:visited{
    font-size: $default-font-size;
    text-decoration:none;
    display: inline-block;
    color: $color-primary;
    border-bottom:1px solid $color-primary;
    transition:all 0.2s;
  }
  &:hover{
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgb($color-black,0.2);
    transform:translateY(-2px);

  }
  &:active{
    box-shadow: 0 0.5rem 1rem rgb($color-black,0.2);
    transform:translateY(0px);
  }
}